doctype html
html
  head
    title Вхід
    link(rel="stylesheet", href="/style.css")
  body
    h2 Вхід
    form(action="/auth/login", method="post")
      input(type="text", name="username", placeholder="Username", required)
      input(type="password", name="password", placeholder="Password", required)
      button(type="submit") Увійти
